<a href="https://colab.research.google.com/github/ananya-2311/Handwritten_Equation_Solver/blob/main/Equation_Solver.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **Importing libraries**

In [6]:
import numpy as np
import cv2
from PIL import Image
from matplotlib import pyplot as plt
%matplotlib inline
import os
from os import listdir
from os.path import isfile, join
import pandas as pd

**Unzipping Dataset**

In [7]:
#!unzip dataset_1.zip

***Data Extraction and prepartion starts***

**Load Images from folder function**

In [8]:
def load_images_from_folder(folder):
    train_data=[]
    for filename in os.listdir(folder): # this loop iterates over all the files in the folder

        img = cv2.imread(os.path.join(folder,filename),cv2.IMREAD_GRAYSCALE) 
        #reading image and converting image into greyscale(used for contours)

        img=~img # inverting color of image
        # 0 is black and 255 is white
        # when any value crosses threshold of 127 then the background is considered as white(255), below that it is black(0)
        if img is not None:

            # removing background using threshold function
            #1. Image is first argument
            #2. 127 is threshold
            #3. White background --> 255
            #4. THRESH_BINARY --> Converting image into black and white only

            ret,thresh=cv2.threshold(img,127,255,cv2.THRESH_BINARY) 

            contours, hierarchy = cv2.findContours(thresh, cv2.RETR_LIST, cv2.CHAIN_APPROX_NONE)

            # sorting contours on the basis of size of rectangles
            cnt=sorted(contours, key=lambda ctr: cv2.boundingRect(ctr)[0])
            w=int(28)
            h=int(28)
            maxarea=0 #stores max area of rectangle

            #x, y are to most coordinates, w and h are width and height respectively
            for c in cnt:
                x,y,w,h = cv2.boundingRect(c)
                maxarea=max(w*h,maxarea)
                if maxarea==w*h:
                    x_max=x
                    y_max=y
                    w_max=w
                    h_max=h
            image_crop= thresh[y_max:y_max+h_max+10, x_max:x_max+w_max+10]
            image_resize = cv2.resize(image_crop,(28,28)) # resizing image into 2D
            image_resize = np.reshape(image_resize,(784,1)) #resizing into 1D array
            train_data.append(image_resize)
    return train_data

**Creating an empty list data[ ]**

In [47]:
data=[]

**Adding files to the data list folder by folder**


Here we keep concatenating the list to add all the items

In [48]:
data=load_images_from_folder('/content/dataset_1/-')
len(data)
for i in range(0,len(data)):
  #appending label to the last column --> here label of '-' is 10
    data[i]=np.append(data[i],['10'])
    
print(len(data))

6445

In [49]:
data11=load_images_from_folder('/content/dataset_1/+')

for i in range(0,len(data11)):
  #appending label to the last column --> here label of '+' is 11
    data11[i]=np.append(data11[i],['11'])
data= np.concatenate((data,data11))
print(len(data))

13041

In [50]:
data0=load_images_from_folder('/content/dataset_1/0')
for i in range(0,len(data0)):
  #appending label to the last column --> here label of '0' is 0
    data0[i]=np.append(data0[i],['0'])
data= np.concatenate((data,data0))
print(len(data))

19955

In [51]:
data1=load_images_from_folder('/content/dataset_1/1')

for i in range(0,len(data1)):
   #appending label to the last column --> here label of '1' is 1
    data1[i]=np.append(data1[i],['1'])
data=np.concatenate((data,data1))
print(len(data))

27024

In [52]:
data2=load_images_from_folder('/content/dataset_1/2')

for i in range(0,len(data2)):
   #appending label to the last column --> here label of '2' is 2
    data2[i]=np.append(data2[i],['2'])
data=np.concatenate((data,data2))
print(len(data))

33749

In [53]:
data3=load_images_from_folder('/content/dataset_1/3')

for i in range(0,len(data3)):
   #appending label to the last column --> here label of '3' is 3
    data3[i]=np.append(data3[i],['3'])
data=np.concatenate((data,data3))
print(len(data))

40158

In [54]:
data4=load_images_from_folder('/content/dataset_1/4')

for i in range(0,len(data4)):
   #appending label to the last column --> here label of '4' is 4
    data4[i]=np.append(data4[i],['4'])
data=np.concatenate((data,data4))
print(len(data))

45826

In [55]:
data5=load_images_from_folder('/content/dataset_1/5')

for i in range(0,len(data5)):
   #appending label to the last column --> here label of '5' is 5
    data5[i]=np.append(data5[i],['5'])
data=np.concatenate((data,data5))
print(len(data))

49371

In [56]:
data6=load_images_from_folder('/content/dataset_1/6')

for i in range(0,len(data6)):
   #appending label to the last column --> here label of '6' is 6
    data6[i]=np.append(data6[i],['6'])
data=np.concatenate((data,data6))
print(len(data))

52489

In [57]:
data7=load_images_from_folder('/content/dataset_1/7')

for i in range(0,len(data7)):
   #appending label to the last column --> here label of '7' is 7
    data7[i]=np.append(data7[i],['7'])
data=np.concatenate((data,data7))
print(len(data))

55398

In [58]:
data8=load_images_from_folder('/content/dataset_1/8')

for i in range(0,len(data8)):
   #appending label to the last column --> here label of '8' is 8
    data8[i]=np.append(data8[i],['8'])
data=np.concatenate((data,data8))
print(len(data))

58466

In [59]:
data9=load_images_from_folder('/content/dataset_1/9')

for i in range(0,len(data9)):
   #appending label to the last column --> here label of '9' is 9
    data9[i]=np.append(data9[i],['9'])
data=np.concatenate((data,data9))
print(len(data))

62203

In [60]:
data12=load_images_from_folder('/content/dataset_1/times')

for i in range(0,len(data12)):
   #appending label to the last column --> here label of '12' is 12
    data12[i]=np.append(data12[i],['12'])
data=np.concatenate((data,data12))
print(len(data))

65454

In [61]:
data13=load_images_from_folder('/content/dataset_1/div')

for i in range(0,len(data13)):
   #appending label to the last column --> here label of '13' is 13
    data13[i]=np.append(data13[i],['13'])
data=np.concatenate((data,data13))
print(len(data))

66322

In [62]:
data14=load_images_from_folder('/content/dataset_1/forward_slash')

for i in range(0,len(data14)):
   #appending label to the last column --> here label of '14' is 14
    data14[i]=np.append(data14[i],['14'])
data=np.concatenate((data,data14))
print(len(data))
#66521

66521

**Converting file into csv file**

In [63]:
df=pd.DataFrame(data,index=None)
df.to_csv('train_final.csv',index=False)

***Data Extraction ends***

## ***Training Data***

In [64]:
import pandas as pd
import numpy as np

Image was of dimension, 28X28

In 1D it becomes 784x1

In [65]:
df_train=pd.read_csv('train_final.csv',index_col=False)
labels = df_train[['784']]

In [67]:
df_train.head()
# last column is of label
# as our first entity was '-', its label is 10

     0    1    2    3    4    5    6  ...  778  779  780  781  782  783  784
0    0    0  255  255  255  255  255  ...    0    0    0    0    0    0   10
1    0    0    0    0    0    0    0  ...    0    0    0    0    0    0   10
2    0    0    0    0    0    0    0  ...    0    0    0    0    0    0   10
3  255  255  255  255  255  255  255  ...    0    0    0    0    0    0   10
4  255  255    0    0    0    0    0  ...    0    0    0    0    0    0   10

[5 rows x 785 columns]

In [68]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True) #dropping the last column and using rest of the columns for getting image
df_train.head()

     0    1    2    3    4    5    6  ...  777  778  779  780  781  782  783
0    0    0  255  255  255  255  255  ...    0    0    0    0    0    0    0
1    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
2    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
3  255  255  255  255  255  255  255  ...    0    0    0    0    0    0    0
4  255  255    0    0    0    0    0  ...    0    0    0    0    0    0    0

[5 rows x 784 columns]

In [69]:
import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils
from keras import backend as K

In [70]:
#making array of labels using numpy
labels = np.array(labels)

In [73]:
from keras.utils.np_utils import to_categorical
category_labels = to_categorical(labels,num_classes=15)

In [74]:
print(category_labels[0])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]

In [152]:
l=[]
for i in range(66521):
    l.append(np.array(df_train[i:i+1]).reshape(28,28, 1).astype('float32'))

In [153]:
np.random.seed(7)

In [154]:
def create_model():
    num_classes = 15;
    model = tf.keras.models.Sequential()
    model.add(Convolution2D(32, kernel_size=(3, 3), activation='relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))
    model.add(Convolution2D(64, (3, 3), activation='relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))
    model.add(Dropout(0.25))
    model.add(Flatten())
    model.add(Dense(256, activation='relu'))
    model.add(Dense(128, activation ='relu'))
    model.add(Dense(64, activation ='relu'))
    model.add(Dropout(0.3))
    model.add(Dense(num_classes, activation='softmax'))
    #model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    return model

In [155]:
model = create_model()

In [156]:
from keras.models import model_from_json

In [157]:
model.fit(np.array(l), category_labels, epochs=15, batch_size=200, shuffle=True,verbose=1)

Epoch 1/15
333/333 [==============================] - 51s 150ms/step - loss: 0.8379 - accuracy: 0.7733
Epoch 2/15
333/333 [==============================] - 50s 151ms/step - loss: 0.2115 - accuracy: 0.9401
Epoch 3/15
333/333 [==============================] - 50s 149ms/step - loss: 0.1391 - accuracy: 0.9594
Epoch 4/15
333/333 [==============================] - 50s 150ms/step - loss: 0.1056 - accuracy: 0.9684
Epoch 5/15
333/333 [==============================] - 53s 159ms/step - loss: 0.0859 - accuracy: 0.9739
Epoch 6/15
333/333 [==============================] - 53s 159ms/step - loss: 0.0769 - accuracy: 0.9765
Epoch 7/15
333/333 [==============================] - 53s 159ms/step - loss: 0.0637 - accuracy: 0.9801
Epoch 8/15
333/333 [==============================] - 53s 159ms/step - loss: 0.0554 - accuracy: 0.9829
Epoch 9/15
333/333 [==============================] - 53s 159ms/step - loss: 0.0495 - accuracy: 0.9850
Epoch 10/15
333/333 [==============================] - 53s 158ms/step - loss: 0.0508 - accuracy: 0.9849
Epoch 11/15
333/333 [==============================] - 53s 158ms/step - loss: 0.0433 - accuracy: 0.9871
Epoch 12/15
333/333 [==============================] - 55s 165ms/step - loss: 0.0384 - accuracy: 0.9885
Epoch 13/15
333/333 [==============================] - 57s 172ms/step - loss: 0.0381 - accuracy: 0.9891
Epoch 14/15
333/333 [==============================] - 56s 169ms/step - loss: 0.0362 - accuracy: 0.9896
Epoch 15/15
333/333 [==============================] - 55s 166ms/step - loss: 0.0328 - accuracy: 0.9897